body {
  /*background: url("../images/blurry water at canyon lights.png") no-repeat center center fixed;*/
  background-color: #dcdcdc;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-style: normal;*/
  position: relative;
}

a {
  color: #4477b2;
}

hr{
  margin:20px 0px 20px 0p;
  padding:0px;
  border:0;
  border-bottom:1px solid #343434;
}

ul {
  margin: 20px; 
  padding: 0;
}


@media only screen and (max-width: 600px) {
  .bodyText {
    font-size: 14px;
    padding: 14px;
  }
}

@media only screen and (min-width: 601px) {
  .bodyText {
    font-size: 16px;
    padding: 35px;
  }
}

.bodyText {
  font-family: 'Courier';
  text-align: left;
  color: #343434;
}

.titleText{
  font-family: 'Courier';
  font-size: 5vmin;
  text-align: left;
  color: #343434;
}

.section{
  text-align: left;
  color: black;
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-left: 10%;
  margin-right: 10%;
  overflow: auto;
}

.languageIcon{
  text-align: left;
  position: fixed;
  right: 5%;
  top: 33%;
  font-weight: bold;
  z-index: 1;
}

.githubIcon{
  text-align: left;
  position: fixed;
  right: 5%;
  top: 5%;
  font-weight: bold;
  z-index: 1;
}

.linkedInIcon{
  text-align: left;
  position: fixed;
  right: 5%;
  top: 11.9%;
  font-weight: bold;
  z-index: 1;
}

.emailIcon{
  text-align: left;
  position: fixed;
  right: 4.9%;
  top: 19%;
  font-weight: bold;
  z-index: 1;
}

.resumeIcon{
  text-align: left;
  position: fixed;
  right: 5%;
  top: 26%;
  font-weight: bold;
  z-index: 1;
}

.welcomeText{
  text-align: center;
  font-family: 'Courier';
  font-size: 40vmin;
  position: relative;
  top: calc(50% - 90px);
  padding: 35px;
  /*background-color: rgba(0,0,0,0.2);*/
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #343434;
  /*color: white;*/
}

.buttonIcon{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: black;
  position: relative;
  top: calc(50% - 70px);
}


#language{
  display: none;
  text-align: right;
  font-family: 'Josefin Sans', sans-serif;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.languageSelection{
  margin-right: 10%;
  margin-top: 10%;
}

.logos{
  color: #dcdcdc;
  padding: 17px;
  margin-bottom: 5vh;
}

.break{
  height: 15vh;
}

details summary::-webkit-details-marker {
  display:none;
}

.particles {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
}
