body {
  /*background: url("../images/blurry water at canyon lights.png") no-repeat center center fixed;*/
  background-color: #f2f2f2
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-style: normal;*/
}

.languageIcon{
  text-align: left;
  position: fixed;
  right: 5%;
  top: 33%;
  font-weight: bold;
  z-index: 1;
}

.githubIcon{
  text-align: left;
  position: fixed;
  right: 5%;
  top: 5%;
  font-weight: bold;
  z-index: 1;
}

.linkedInIcon{
  text-align: left;
  position: fixed;
  right: 5%;
  top: 11.9%;
  font-weight: bold;
  z-index: 1;
}

.emailIcon{
  text-align: left;
  position: fixed;
  right: 4.9%;
  top: 19%;
  font-weight: bold;
  z-index: 1;
}

.resumeIcon{
  text-align: left;
  position: fixed;
  right: 5%;
  top: 26%;
  font-weight: bold;
  z-index: 1;
}

.welcomeText{
  text-align: center;
  font-family: 'Courier';
  font-size: 2em;
  position: relative;
  top: calc(50% - 90px);
  padding: 35px;
  /*background-color: rgba(0,0,0,0.2);*/
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /*color: white;*/
}

.buttonIcon{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: black;
  position: relative;
  top: calc(50% - 70px);
}


#language{
  display: none;
  text-align: right;
  font-family: 'Josefin Sans', sans-serif;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

.languageSelection{
  margin-right: 10%;
  margin-top: 10%;
}

.logos{
  color: black;
  padding: 17px;
  margin-bottom: 5vh;
}

.about{
  text-align: left;
  color: black;
  font-size: 2em;
  /*position: relative;*/
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-left: 10%;
  margin-right: 10%;
  /*min-height: 100% !important;*/
  overflow: auto;
  /*display: flex;*/
}

.aboutTitle{
  font-family: 'Courier';
  font-size: 1em;
  text-align: left;
}

.aboutContents{
  font-family: 'Courier';
  font-size: 0.65em;
  text-align: left;
  padding: 35px;
}

.break{
  height: 15vh;
}

.box{
  height: 300px;
  font-size: 0.5em;
  font-family: Open Sans;
}

details summary::-webkit-details-marker {
  display:none;
}
